{# app/Resources/views/album/edit.html.twig #}
{% extends 'base.html.twig' %}

{% set page_title = 'album.title.edit_album'|trans %}

{% block body %}

	<h1>{{ page_title }}</h1>

	{{ form_start(edit_form) }}
	{{ form_widget(edit_form) }}
	<input type="submit" value="{{ 'album.label.edit_album'|trans }}">
	{{ form_end(edit_form) }}

{% endblock %}