{# app/Resources/views/album/new.html.twig #}

{% extends 'base.html.twig' %}

{% set page_title = 'album.title.create_album'|trans %}

{% form_theme form default_form_theme %}

{% block body %}

	{{ form_start(form) }}
	
		<div class="row">
			<div class="column large-6 medium-8 small-12">
				<p>
					<input type="submit" class="button" value="{{ 'album.label.create_album'|trans }}">
					<a class="button" href="{{ app.request.get('collection') ? path('show_collection', {'id': app.request.get('collection')}) : path('homepage') }}">Cancel</a>
				</p>		

				{{ form_widget(form) }}

			</div>
		</div>
	
	{{ form_end(form) }}

{% endblock %}