{# Resources/views/album/show.html.twig #}

{% extends 'base.html.twig' %}

{% block body_id 'show_album' %}

{% set page_title = album.name %}


{% block body %}
    
    <div class="row column">

    <p>
        {{ 'album.view.ownership'|trans({'%owner%':album.owner.username, '%link_start%':'<a href="'~path('profile_base_default', {'username': album.owner.username})~'">', '%link_end%':'</a>' })|raw }}
        <span class="bar"></span>
        {{ 'album.view.num_photos'|transchoice(album.photos.count) }}
    </p>


    {% if is_granted('edit', album) %}
    	<p>
            <a class="button" href="{{ path('edit_album', {'id': album.id}) }}">{{ 'album.button.edit'|trans }}</a>
            <a class="button" href="{{ path('upload_to_album', {'id': album.id}) }}">{{ 'album.button.upload'|trans }}</a>
            {% if is_granted('edit_permissions', album) %}
                <a class="button" href="{{ path('edit_album_permissions', {'id': album.id}) }}">{{ 'album.button.edit_permissions'|trans }}</a>
            {% endif %}
        </p>
    {% endif %}

    <p>{{ album.description|e }}</p>

    </div>

    <div class="row small-up-2 medium-up-3 large-up-5 gallery-wrapper">
        {% for photo in album.photos %}
        	
            {% set display_list = [] %}
            {% for item in [photo.title, photo.caption, photo.description] %}
                {% if item is not empty %}
                    {% set display_list = display_list|merge([item]) %}
                {% endif %}
            {% endfor %}

            <div class="column align-middle album-grid">
                
                 <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a class="thumbnail" itemprop="contentUrl" 
                        href="{{ signed_url_cacher.getUrl(photo.photo.sizeMedium) }}" 
                        fhref="{{ signed_url_cacher.getUrl(photo.photo.sizeOriginal) }}" 
                        data-size="{{ photo.photo.mediumwidth }}x{{ photo.photo.mediumheight }}" 
                        data-fsize="{{ photo.photo.originalwidth }}x{{ photo.photo.originalheight }}"
                    >
                        <img src="{{ signed_url_cacher.getUrl(photo.photo.sizeThumb) }}" itemprop="thumbnail" alt="{{ photo.title }}">
                    </a>
                    <figcaption itemprop="caption description">{{ display_list|join(' - ') }}</figcaption>
                </figure>

            </div>
        {% endfor %}
    </div>

    <div class="row column">
        {% embed 'comment/comment_form.html.twig' %}
        {% endembed %}
    </div>


    {% include 'tools/photoswipe.html' %}

{% endblock %}

{% block javascripts %}
    {# "https://rawgit.com/dimsemenov/PhotoSwipe/master/dist/photoswipe-ui-default.min.js" #}
    {% javascripts 
        "https://rawgit.com/dimsemenov/PhotoSwipe/master/dist/photoswipe.min.js"
        "/srv/www/visuari.com/related_projects/PhotoSwipe/dist/photoswipe-ui-default.min.js"
        filter='uglifyjs2'
        %} 
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        'https://rawgit.com/dimsemenov/PhotoSwipe/master/dist/photoswipe.css'
        'https://rawgit.com/dimsemenov/PhotoSwipe/master/dist/default-skin/default-skin.css'
        filter='cssrewrite' output='css/compiled/app_show_album.css' %}

        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
