{# app/Resources/views/profile/index.html.twig #}
{% extends 'base.html.twig' %}

{% set page_title = user.username %}

{% block body %}

	<div class="row column">
		<p><a class="button" href="{{ path('fos_user_profile_show') }}">{{ 'user.title.my_account'|trans }}</a></p>
	</div>

	<div class="row column">
		<p>
			<ul>
				<li><a href="{{ path('user_collections', {'username': user.username}) }}">{{ 'collection.list_plural'|trans }}</a></li>
				<li><a href="{{ path('user_albums', {'username': user.username}) }}">{{ 'album.list_plural'|trans }}</a></li>

			</ul>
		</p>
	</div>


{% endblock %}