{% extends "FOSUserBundle::layout.html.twig" %}

{% set page_title = 'user.title.change_password'|trans %}

{% block pre_process %}
	{{ breadcrumbs.changePassword() }}
{% endblock %}

{% block fos_user_content %}

	<div class="row">
		<div class="column large-6 medium-8 small-12 end">
			{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
			    {{ form_widget(form) }}
			    <div>
			        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
			    </div>
			{{ form_end(form) }}
		</div>
	</div>
	
{% endblock fos_user_content %}
