{# app/Resources/views/collection/new.html.twig #}

{% extends 'base.html.twig' %}

{% set page_title = 'collection.title.create_collection'|trans %}

{% form_theme form default_form_theme %}

{% block body %}

	{{ form_start(form) }}

		<div class="row">
			<div class="column large-6 medium-8 small-12">
				<p>
					<input type="submit" class="button" value="{{ 'collection.label.create_collection'|trans }}">
					<a class="button" href="{{ path('homepage') }}">Cancel</a>
				</p>		

				{{ form_widget(form) }}
		
			</div>
		</div>
		
	{{ form_end(form) }}

{% endblock %}