{# Resources/views/collection/show.html.twig #}

{% extends 'base.html.twig' %}

{% set page_title = collection.name|e %}

{% block body_id 'show_collection' %}

{% block body %}

	<div class="row column">

	    <p>
        	{{ 'collection.view.ownership'|trans({'%owner%':collection.owner.username, '%link_start%':'<a href="'~path('profile_base_default', {'username': collection.owner.username})~'">', '%link_end%':'</a>' })|raw }}
        	<span class="bar"></span>
        	{{ 'collection.view.num_albums'|transchoice(albums.count) }}
        </p>

	    {% if is_granted('edit', collection) %}
	    	<p>
	    		<a class="button" href="{{ path('edit_collection', {'id': collection.id}) }}">{{ 'collection.button.edit'|trans }}</a>
	    		<a class="button" href="{{ path('new_album', {'collection': collection.id}) }}">{{ 'collection.button.add_album'|trans }}</a>
	    		{% if is_granted('edit_permissions', collection) %}
	                <a class="button" href="{{ path('edit_collection_permissions', {'id': collection.id}) }}">{{ 'collection.button.edit_permissions'|trans }}</a>
	            {% endif %}
	    	</p>
	    {% endif %}

	    <p>{{ collection.description|e }}</p>
	</div>

    <div class="row small-up-2 medium-up-3 large-up-5 album-thumb-wrapper">
	    {% for album in albums %}
	    	{% set link = path('show_album', {'id': album.id}) %}
	    	<div class="column ">
	    		{% if album.photos is defined and album.photos|length>0 %}
    				{% set thumb = random(album.photos) %}
	        		<div class="thumb-wrap">
	        			<a href="{{link}}"><img class="thumbnail" src="{{ signed_url_cacher.getUrl(thumb.photo.sizeThumb) }}"></a>
	        		</div>
	        	{% endif %}
	        
		        <h3><a href="{{ link }}">{{ album.name }}</a> <small class="h3-comment no-break-spaces">{{ 'album.view.num_photos'|transchoice(album.photos.count) }}</small></h3>
		    </div>
	    {% endfor %}
	</div>

{% endblock %}
