{# Resources/views/collection/show.html.twig #}
{% extends 'base.html.twig' %}

{% set page_title = collection.name|e %}

{% block body_id 'show_collection' %}

{% block body %}

	<div class="row column">

	    {% if is_granted('edit', collection) %}
	    	<p><a class="button" href="{{ path('edit_collection', {'id': collection.id}) }}">Edit</a>
	    {% endif %}

	    <p>{{ collection.owner.username }}</p>
	    <p>{{ collection.description|e }}</p>

	    {% for album in collection.albums %}
	        <h3><a href="{{ path('show_album', {'id': album.id}) }}">{{ album.name|e }}</a></h3>
	        <p>{{ album.description|e }}</p>
	    {% endfor %}

	</div>
	    
{% endblock %}
