{# Resources/views/collection/show.html.twig #}

{% extends 'base.html.twig' %}

{% set page_title = collection.name|e %}

{% block body_id 'show_collection' %}

{% block body %}

	<div class="row column">

	    <p>Collection by <a href="{{ path('profile_base_default', {'username': collection.owner.username}) }}">{{ collection.owner.username }}</a></p>

	    {% if is_granted('edit', collection) %}
	    	<p>
	    		<a class="button" href="{{ path('edit_collection', {'id': collection.id}) }}">{{ 'collection.button.edit'|trans }}</a>
	    		<a class="button" href="{{ path('new_album', {'collection': collection.id}) }}">{{ 'collection.button.add_album'|trans }}</a>
	    		{% if is_granted('edit_permissions', collection) %}
	                <a class="button" href="{{ path('edit_collection_permissions', {'id': collection.id}) }}">{{ 'collection.button.edit_permissions'|trans }}</a>
	            {% endif %}
	    	</p>
	    {% endif %}

	    <p>{{ collection.description|e }}</p>

	    {% for album in albums %}
	        <h3><a href="{{ path('show_album', {'id': album.id}) }}">{{ album.name }}</a></h3>
	        <p>{{ album.description }}</p>
	    {% endfor %}

	</div>
	    
{% endblock %}
